__pycache__/__init__.cpython-313.pyc
__pycache__/test_main_page.cpython-313-pytest-8.3.4.pyc
pages/__pycache__/base_page.cpython-313.pyc
pages/__pycache__/main_page.cpython-313.pyc
__pycache__/test_main_page.cpython-313-pytest-8.3.4.pyc
